* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  background-color: #000000;
  color: #ffffff;
}
h1 {
  font-family: "Playfair Display";
  font-size: 30px;
  padding: 10px 0px;
  margin: 0px;
}
.field-box {
  border: 2px solid #d0d0d0;
  float: left;
}
.field {
  width: 800px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.field .tile {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-image: url(../images/tile-.png);
  z-index: 5;
}
.field .wall {
  background-image: url(../images/tile-W.png);
}
.field .enemy {
  background-image: url(../images/tile-E.png);
  z-index: 10;
}
.field .person {
  background-image: url(../images/tile-P.png);
  z-index: 10;
}
.field .healthPotion {
  background-image: url(../images/tile-HP.png);
  z-index: 9;
}
.field .weapon {
  background-image: url(../images/tile-SW.png);
  z-index: 9;
}
.field .tile .health {
  background-color: #ff0000;
  z-index: 11;
  left: 0px;
  top: 0px;
  height: 3px;
}
.field .person .health {
  background-color: #00ff00;
  z-index: 11;
  left: 0px;
  top: 0px;
  height: 3px;
}
.inventory-box {
  border: 2px solid #d0d0d0;
  float: left;
}
.inventory {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 800px;
  height: 20px;
}
.inventory .inventory-weapon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  z-index: 10;
  background-image: url(../images/tile-SW.png);
}
.inventory .inventory-potion {
  width: 20px;
  background-size: 100%;
  height: 20px;
  z-index: 10;

  background-image: url(../images/tile-HP.png);
}
.cl {
  clear: both;
  display: block;
}
#audio{
  display: none;
}

#playImg{
  width: 30px;
  height: 30px;
  margin-top: 7px;
}

.top-container{
  display: flex;
  align-items: flex-start;
  gap: 20px
}
.music-container{
  display: flex;
  gap: 10px;

  align-items: center;

}

img{
  cursor: pointer;
}
